<h1>コート</h1>
<div class="center hero-unit">
<table class="table table-striped">
<thead>
  <th width="20%">場所</th>
  <th width="20%">住所</th>
  <th width="20%">料金</th>
  <th width="20%">最寄り駅</th>
</thead>
<tbody>
<% @places.each do |place| %>
	<tr>
		<td><%= place.name %></td>
		<td><%= place.address %></td>
		<td><%= place.price %></td>
		<td><%= place.description %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
